
.navbar{
    // border: 1px solid red;
    // margin: 3rem 0rem 3rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5rem;
    @media screen and (max-width : 37.5rem ){  
         padding-inline: 2rem;
        //  padding-left: 2rem;
    }
    .logo{
        border: 1px solid lightblue;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        @media screen and (max-width : 37.5rem ){
            width: 4rem;
            height: 4rem;
        }
        // flex: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .navlinks{
        display: flex;
        align-items: center;
        gap: 2rem;
        justify-content: space-around;
        height: 9rem;
        padding-inline: 7% 10%;
  
        @media screen and (max-width: 56.25rem){
            padding-inline: 2% 2%;
        }
        @media screen and (max-width : 37.5rem ){
            position: absolute;
            top: 0;
            right:-100% ;
            width: 60%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding:8rem 0rem 0rem 5rem;
           transition: right .5s ;
           z-index: 50;
        }
        background-color: var(--nav-back);
        background-color: hsl(var(--clr-light)/.09);
    //    background-color: rgba(128, 109, 109, 0.254);
       backdrop-filter: blur(5rem);
        .navlink{
            //  border: 1px solid black;
            height: 95%;
           margin: 0rem 1.5rem;
            // border: 3px solid transparent;
            @media screen and (max-width: 56.25rem){
                margin: 0rem .5rem;
            }
            @media screen and (max-width : 37.5rem ){
                // border: 1px solid red;
                height: 10%;
            }
           a{
            //    border: 1px solid red;
               height: 100%;
               display: flex;
               align-items: center;
               justify-content: center;
               position: relative;
               &:hover::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 3px;
                bottom: 0%;
                left: 0;
                background-color: var(--gray);
                animation: border_anim .5s linear forwards;
              }


         }
         a.active::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 3px;
            bottom: 0%;
            left: 0;
           background-color: var(--white);
         }
          
        }
       
    }
    .navlinks.open{
        right: 0%;
    }
    .menu{
        display: none;
        @media screen and (max-width : 37.5rem ){
            display: block;
            cursor: pointer;
            z-index: 100;
        }
    }
}