
.crew{
    color: var(--white);
   
    &_main{
        display: flex;
        align-items: center;
        @media screen and (max-width: 56.25rem){
            flex-direction: column;
            gap: 3rem;
        }
        @media screen and (max-width: 37.5rem){
            flex-direction: column-reverse;
           
        }
        .crew_info{
            flex: 1;
          
            .crew_info_inner{
          
                max-width: 50rem;
                display: flex;
                flex-direction: column;
                gap: 8rem;
                @media screen and (max-width: 56.25rem){
                   text-align: center;
                   max-width: 100%;
                   gap: 4rem;
                }
                @media screen and (max-width: 37.5rem){
                    flex-direction: column-reverse;
                   
                }
                .info{
                 
                    &>*{
                        margin-bottom: 1rem;
                    }
                    .role{
                        font-size: 2.5rem;
                        text-transform: uppercase;
                        color: hsl(var(--clr-white)/.3);
                        letter-spacing: .2rem;
                        font-family: var(--f-2);
                    }
                    .name{
                        font-size: 3.5rem;
                        text-transform: uppercase;
                        letter-spacing: .2rem;
                        font-family: var(--f-1);
                    }
                    .bio{
                        @media screen and (max-width: 56.25rem){
                           text-align: center;
                         }
                    }

                }
               
                .slide{
                    display: flex;
                    gap: 2rem;
                    @media screen and (max-width: 56.25rem){
                       align-items: center;
                       justify-content: center;
                 
                     }
                    &_item{
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                        background-color: hsl(var(--clr-white)/.3);
                        cursor: pointer;
                    }
                    &_item.active{
                        background-color: var(--white);
                    }
                }
            }
        }
        .crew_img{
            flex: 1;
        
            &_div{
                max-width:45rem;
              
                img{
                    width: 100%;
                    max-height: 70vh;
                    @media screen and (max-width: 56.25rem){
                        max-height: 50vh;
                     }
                }
            }
        }
    }
}